<div class="alert mb-0 alert-primary">
    <h4 class="alert-heading">Notes</h4>
    <ol>
        <li><code>*.wav</code> is not supported.</li>
        <li>
            You can tick "unblock" in the following situation: You find even if
            you modify a file's attribute, it's still not reflected in file explorer.
            And, you cannot edit file attributes in file explorer's
            <code>Properties > Details</code> page.
        </li>
    </ol>
</div>
<form id="modify-meta">
<table class="table">
    <thead>
    <tr>
        <td>Filename</td>
        <td>#</td>
        <td>Title</td>
        <td>Album</td>
        <td>Artist</td>
        <td>Unblock</td>
    </tr>
    </thead>
    <tbody>
    {% for meta in metas %}
    <tr>
        <input type="hidden" name="filepath-{{ loop.index }}" value="{{ meta.filepath }}">
        <td>{{ meta.filename }}</td>
        <td>
            <input type="number" value="{{ meta.track }}" name="track-{{ loop.index }}"
                   style="width: 8ch;">
        </td>
        <td>
            <input type="text" value="{{ meta.title or '' }}"
                   name="title-{{ loop.index }}"
                   style="width: 100%;">
        </td>
        <td>
            <input type="text" value="{{ meta.album or '' }}"
                   name="album-{{ loop.index }}"
                   style="width: 100%;">
        </td>
        <td>
            <input type="text" value="{{ meta.artist or '' }}"
                   name="artist-{{ loop.index }}"
                   style="width: 100%;">
        </td>
        <td>
            <input type="checkbox" name="unblock-{{ loop.index }}"
                   style="vertical-align: middle;">
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<input type="hidden" name="total_files" value="{{ n }}">
</form>
<button class="btn btn-primary" onclick="modify_meta()">Submit</button>
